/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
:root {
  --fff: #f8f7ea;
  --ggg: #f6f4de;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e4deba;
  color: #474747;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.root-div {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
}




my-backet {
  flex-grow: 50;
  min-height: 100px;
}

my-catalog {
  margin-top: 36px;
  flex-grow: 50;
}
my-item-card {
  display: flex;
  height: 100%;
}

my-home {
  flex-grow: 50;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}




