<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
	https://translated.turbopages.org/proxy_u/en-ru.ru.8a1aef64-636ac6c3-c71b20d8-74722d776562/https/stackoverflow.com/questions/42975285/commonopenfiledialog-cause-windows-form-to-shrink
	-->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
